/* ======================================== Ecrans de moins de 935px ======================================== */


@media (max-width: 935px) {
    .menu {
        width: 80% !important;
    }
}

/* ======================================== Ecrans de moins de 800px ======================================== */

@media (max-width: 800px) {
    .menu {
        width: 90% !important;
    }
}


/* ======================================== Ecrans de moins de 750px ======================================== */

@media (max-width: 750px) {
    .menu {
        grid-auto-flow: column !important;
        padding: 0rem 0.4rem !important;
        grid-template-columns: 0.5fr 5fr 4fr 4fr 1.5fr 0.5fr !important; 
        grid-template-areas:
        '. . . . . .'
        'h3 h3 h3 h3 h3 h3'
        '. . . . . .'
        'pr-title pr-title pr-title pr-title pr-title pr-title'
        '. prelude prelude prelude prelude .'
        '. . . . . .'
        'main-title main-title main-title main-title main-title main-title'
        '. main main main main .'
        '. . . . . .'
        'des-title des-title des-title des-title des-title des-title'
        '. des des des des .'
        '. . . . . .'
        'end-title end-title end-title end-title end-title end-title'
        '. . . . . .' !important;
    }
}

/* ======================================== Ecrans de moins de 600px ======================================== */


@media (max-width: 600px) {
    .menu--info_price {
        flex-flow: column wrap !important;
        p {
            text-align: center !important;
            margin-top: 0rem;
            padding: 0rem 1rem;
            line-height: 1.2rem;
        }
    }
}


/* ======================================== Ecrans de moins de 485px ======================================== */


@media (max-width: 485px) {
    .menu {
        grid-template-areas:
        '. . . . . .'
        'h3 h3 h3 h3 h3 h3'
        '. . . . . .'
        'pr-title pr-title pr-title pr-title pr-title pr-title'
        '. prelude prelude prelude prelude .'
        '. . . . . .'
        'main-title main-title main-title main-title main-title main-title'
        '. main main main main .'
        '. . . . . .'
        'des-title des-title des-title des-title des-title des-title'
        '. des des des des .'
        '. . . . . .'
        'end-title end-title end-title end-title end-title end-title'
        '. . . . . .' !important;
    }
}

        /* ====================================================================================================================== */


.menu
        {
            display: grid;
            margin: auto;
            width: 70%;
            margin-bottom: 3rem;
            grid-template-columns: 1fr 3.5fr 4fr 3fr 1fr 1fr;
            grid-template-rows: auto;
            row-gap: 5px;
            grid-template-areas:
            '. . . . . .'
            '. h3 h3 h3 h3 .'
            '. . . . . .'
            'pr-title pr-title pr-title pr-title pr-title pr-title '
            '. prelude prelude prelude prelude .'
            '. . . . . .'
            'main-title main-title main-title main-title main-title main-title'
            '. main main main main .'
            '. . . . . .'
            'des-title des-title des-title des-title des-title des-title'
            '. des des des des .'
            '. . . . . .'
            '. end-title end-title end-title end-title .'
            '. . . . . .';
        }

.legal
    {
        margin-left: 1rem;
    }


.contact
    {
        margin-right: 1rem;
    }

a :visited
    {
        color: $color-main;
        text-decoration: none;
    }

.menu--info_price {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    flex: 1 1 0;
    line-height: 1.2rem;
}

.prelude
    {
        grid-area: prelude;
        @extend %mainfont;
    }

.prix {
    padding-left: 2rem;
}

.title
    {
        grid-area: h3;
        text-align: center;
    }

article h4
    {
        text-align: center;
        @extend %mainfont;
    }

.pr-title
    {
        text-align: center;
        @extend %mainfont;
    }  

.main-title
    {
        @extend %mainfont;
    }

.orgue
    {
        grid-area: main;
        @extend %mainfont;
    }

.final
    {
        grid-area: des;
        @extend %mainfont;
    }

            /* ================================= BRUSH STROKES ================================ */

img {
    margin: auto;
}

.brush-title
    {
        grid-area: pr-title;
    }

.pr-title {
        display: flex;
        flex-grow: 1;
        grid-area: pr-title;
        align-content: center;
        @extend %mainfont;
}

.brush-title--2
    {
        grid-area: main-title;
    }

.main-title {
        display: flex;
        flex-grow: 1;
        grid-area: pr-title;
        align-content: center;
        @extend %mainfont;
}

.brush-title--3
    {
        grid-area: des-title;
    }

.des-title {
        display: flex;
        flex-grow: 1;
        grid-area: pr-title;
        align-content: center;
        @extend %mainfont;
}