@import "../1_Variables/_variables.scss";
@import '../2_Mixins/_mixins.scss';
@import 'menu--template';
@import '../2-2_Animations/animations.scss';

/* ======================================== MEDIA QUERIES ======================================== */


@media (max-width: 1120px) {
    h3 {
        font-size: 4.8rem !important;
    }
}

/* ======================================== Ecrans de moins de 750px ======================================== */



@media (max-width: 750px) {
    h3 {
        font-size: 3.8rem !important;
    }
}

/* ======================================== Ecrans de moins de 475px ======================================== */


@media (max-width: 485px) {
    h3 {
        font-size: 2.7rem !important;
    }
}



/* ======================================== Ecrans de moins de 450px ======================================== */


@media (max-width: 450px) {
    body {
        margin: 0.5rem !important;
    }
}

   

/* ======================================== FIN DES MEDIA QUERIES ======================================== */

@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Courgette|Croissant+One&display=swap');

%mainfont {
    font-family: 'Courgette', lighter;
}

h3 {
    font-weight: normal;
    font-size: 6rem;
    font-family: 'Alex Brush', cursive;
    background: -webkit-linear-gradient(360deg, rgb(14, 14, 172), rgb(103, 174, 241));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
    margin: 0rem 0rem;
}

article
    {
        background-color: #EDEFEF;
        box-shadow: 2px 2px 3px 4px #ccc;
    }

.title
    {
        margin: 1rem 0rem;
    }

article h4
    {
        font-weight: normal;
        font-size: 1.2rem;
    }

.des-title
    {
        @extend %mainfont;
    }

/* ================================= BRUSH STROKES ================================ */


img {
    height: 0.8vw;
}

.brush-title {
    img {
        width: 27vw;
    }
}

.brush-title--2    {
        img    {
        width: 28vw;
    }
}

.brush-title--3    {
        img    {
        width: 28vw;
    }
    }